.formCoords div {
  margin-bottom: 15px;
  text-align: left;
}

.formCoords label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary);
}

.formCoords input,
.formCoords select {
  border: 2px solid var(--light-purple);
  border-radius: var(--border-radius);
  height: 50px;
  box-sizing: border-box;
}

.formCoords input[type="text"],
.formCoords select {
  padding: 8px;
  width: 200px;
}

.radio label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  vertical-align: middle;
}

.radio input[type="radio"] {
  vertical-align: middle;
}

.formCoords > div {
  border-left: 3px solid var(--primary);
  padding-left: 10px;
}

.requiredField::after {
  content: " *";
  color: #ff0000;
}

.inputGroup {
  color: #4b0082;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.foxPicture {
  vertical-align: middle;
  margin: 50px 50px;
}

.customBar {
  vertical-align: middle;
  animation: spin 1s linear infinite;
  display: none;
}
