.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.headerInfo {
  text-align: center;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
